table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
th,
td {
  padding-left: 5px;
  padding-right: 5px;
}
.mapLegend {
  position: absolute;
  top: 35%;
  left: 1em;
  height: 47vh;
  width: 24.2vw;
  overflow-y: scroll;
}

.featureInfo {
  position: absolute;
  z-index: 1;
  margin-left: 5em;
}

.drawFeature {
  position: absolute;
  z-index: 1;
  margin-left: 46em;
}

.wmsLayers {
  position: absolute;
  z-index: 1;
  margin-left: 75em;
}
